.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url("..\\..\\img\\search-bg-image.jpg") no-repeat center center;
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-search-bar{
	position: absolute;	
	top: -200px;
	left: 220px;
}

.search-bar input[type="text"] {
    position: relative;
    background-color: #1b1919;
    opacity: 0.6;
    color: white;
    height: 45px;
    width: 600px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

a.btn.btn-search {
    background-color: #27a8ff;
    width: 153px;
    height: 45px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
    padding-top: 10px;
}

button.btn.btn-search {
    background-color: #27a8ff;
    width: 153px;
    height: 45px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
    padding-top: 10px;
}

input { font-family: 'FontAwesome'; }