@define-mixin atLarge{
	@media(min-width: 1200px){
		@mixin-content;		
	}
}

@define-mixin atMedium{
	@media(min-width: 980px){
		@mixin-content;		
	}
}

@define-mixin atSmall{
	@media(min-width: 480px){
		@mixin-content;		
	}
}


@define-mixin clearfix{
	&::after{
			content:"";
			display: table;
			clear: both;
		}
	&::before{
			content:"";
			display: table;
			clear: both;
		}
}


@define-mixin bottom-border{
	border-bottom: 1px dashed #ccc;
	margin: 0;
}

@define-mixin placeholder $color: white{

	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color:    $color;
	    opacity: 1;
	    @mixin-content;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    $color;
	   opacity:  1;
	   @mixin-content;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	  color:    $color;
	   opacity:  1;
	   @mixin-content;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color:    $color;
	  opacity:  1;
	  @mixin-content;
	}
	&::-ms-input-placeholder { /* Microsoft Edge */
	   color:    $shy-green;
	   opacity:  1;
	   @mixin-content;
	}

}

@define-mixin arrow $left: 374px, $top: -42px{

	&::before{
	    display: inline-block;
	    border-color: transparent transparent #fff;
	    border-width: 12px;
	    border-style: solid;
	    width: 0;
	    height: 0;
	    position: absolute;
	    content: '';
	    left: $left;
	    top:$top;
	    @mixin-content;
	}

}	