.has-placeholder{
  
  &-green{
    input[type="text"]
    {
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    $shy-green;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color:    $shy-green;
           opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:    $shy-green;
           opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color:    $shy-green;
        }
        ::-ms-input-placeholder { /* Microsoft Edge */
           color:    $shy-green;
        }
    } 
  }
  




}