$main-green : #5cc75d;
$dashed-border-color :#9AA3A0;
$shy-green:#93D2B5;
$dark-green:#399A64;
$shy-grey:#e2e2e2;
$white-grey: #F2F2F2;
$description-link:#7F8995;
$hr-page:#4B5570;


/*text*/
	$cost-text:#A6A9B2;
	$white-text:#FCFEFB;
	$main-text-color: #05050D;
	$grey-text: #8B9096;

