.button {   
        background-color: #6684F2;
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        padding: 12px 19px;
        position: relative;
        right: 4px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        width: 164px;
}

.input-text {
    width: 512px;
    height: 45px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding-left: 17px;
    background: black;
    color: white;
    border: none;
    opacity: 0.8;
}

.btn-search{
    color: white;
    width: 100px;
    height: 40px;
    padding-left: 5px;
    border:0;
    font-weight: bolder;
    outline: none;
    background-color: $main-green;
    margin-top: 12px;
    margin-bottom: 12px;


    &--large{
        padding: 10px 16px;
        line-height: 1.3333333;
        width: 160px;
        height: 50px;
        font-size: 20px;
        font-weight: 100;   
        font-family: "Acme", sans-serif;
    }

    &-round{
        border-radius: 25px;
        background-color:$main-blue;
        outline: none;
        border: none;

        &:hover{
            background-color:$main-green;
        }
    }

    &-xsmall{
        
        position: relative;
        top: -10px;
        width: 50px;
        height: 25px;
        padding: 2px;
        font-weight: 200;
        margin-top: 0px;
        margin-right: 10px;
        float: right;
        margin-bottom: 10px;
        background-color: $main-blue ;

        &:active{
            border:0;
            outline: none;
        }
        &:focus{
            border:0;
            outline: none;
        }
    }
}

.cost{

    &-detail{
        float: right;
        font-size: 16px;
        font-weight: 500;
        color: $cost-text;
    }

    font-size: 25px;
    font-weight: 600;
    color: $main-green;

    &--large{
        font-size: 35px;
    }

    &-blackSmall{
        color: black;
    }
}




.h-dropdown{
    padding: 0 25px;
}

.h-select{
    
    color: $main-green;
    width: auto;
    height: 35px;
    padding-left: 5px;
    border:0;
    border-bottom: 1px dashed $dashed-border-color;
    font-weight: bolder;
    outline: none;
     /*-moz-appearance: none;*/


    &--large{
        color: $grey-text;
        font-weight: 900;
        padding: 5px 5px;
        width: auto;
        background-color: rgba(226, 219, 219, 0);
    }

    &--blackSmall{
        color: $grey-text;

    }
   
}

.circle{
    text-align: center;

    &-lg{
        width: 125px;
        height: 125px;
        background: #dfdfdf;
        padding-top:  30px;
        border-radius: 50%;
        border:15px double white;     
        margin-bottom: 0;
        margin-left: 30px;  
        color: black;
    }

    &-sm{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 2px;
    margin: 0 5px 8px 0;
    font-weight: 900;
    font-size: 16px;
        &--red {
            border:1px solid red;
            color: red;
        }

        &--green{
            border:1px solid green;
            color: green;
        }
    }
}






.para-quotes{
    padding-left: 40px;
    max-width: 200px;
    font-weight: 600;
    font-size: 16px;
    color: $grey-text;
    line-height: 1.5em;
    min-height: 450px;
}



.textbox{
    width: 100px;
    height: 35px;
    padding-left: 5px;
    border:0;
    border-bottom: 1px dashed $dashed-border-color;
    margin-right: 20px;
    cursor: pointer;

    &-large{
        width: 150px;
        opacity: .7;
        
        &r{
            width: 100%;
        }

        &-bg-grey{
            /*background-color: #8180A0;*/
        }
    }

    &-round{
        border-radius: 25px;
        padding-left: 15px;
    }
}


.left-border{
    border-left: 1px dashed #ccc;
}

.bottom-border{
    border-bottom: 1px dashed #ccc;
}


.gutters{
    margin-left: 0px; 
}


.cgreen{
    color: $main-green;
}

.cdull{
    color: #ccc;
    margin-right: 5px;
}

.bgwhitesh{
    background: #f2f2f2;
}


.hoverbox{
    
    
    &:hover{box-shadow: 2px 2px 5px #ccc; cursor: pointer; }
}

.text-upper{text-transform: uppercase;}

.first-cap{ &::first-letter{text-transform: uppercase;} }

.text-cap{text-transform: capitalize;}

.decoration-none{ a {text-decoration: none;} }

