.flightSearch{
	
	color: white;
	text-align: left;
	top: 60%;
	transform: translatex(10%);
	width: 86%;
	/*padding-top: 0px;*/
	background-color: #c2c2c2;
	padding:  10px 0px 20px 40px;
	box-shadow: 0px -10px $main-green;
	opacity: .8;
	height: 180px;
	
	@mixin arrow{
		top: -40px;
		left: 60px;
		border-width: 16px;
		border-color: transparent transparent $main-green;
	}
	
	&--box-inner{
		text-align: left;
		background-color: #fff;
		height:70px; 
		font-size: 14px;
		padding: 5px 0px 5px 20px;
		margin-right: 20px;
	
		input{
			color: $main-green;
			@mixin placeholder #ccc;
		}

	}
	
	.bg-hide{
		background-color: transparent;
	}
}