.filterBox{

	display: relative;

	&List{

		background: #f2f2f2;
		position: absolute;
		margin-top: 10px;
		left: 50%;
		transform: translateX(-140%);
	    width: 330px;
	    box-shadow: inset 0 -8px 15px #fff;
		text-align: left;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 250px;
		top: -35px;
	
		&-item{
			padding: 5px 0 0px 10px ;
			font-size: 14px; 
		    color: #3c3d3c;

		    &-title{
		    	font-size: 12px;
		    	font-weight: bold;
		    	color: #000;
		    	border-bottom: none;
		    	text-transform: uppercase;
		    	font-family: lato-semibold,Arial,Helvetica,sans-serif;
		    	cursor: default;
		    }

		    & ul li{
		    	padding-top: 0;
		    }
			
		}

		&-label{
			color: #787878;
			text-transform: capitalize;
			width: 230px;
			display: inline-block;
		}

		&-cntry{
			color: #aaa;
			display: inline-block;
			margin-right: 5px;
			float: right;
			font-family: lato-medium,Arial,Helvetica,sans-serif;
		}
	}
	
	&Child{

		position: relative;
		
		
		@mixin arrow{
			top: -50px;
			left: 335px;
			border-width: 15px;
			border-color: transparent transparent #f2f2f2;
		}

	}

	.location{


		&-from{

			display: none;
			right: 40px;
		}
		
	}

	.passenger{
		display: none;
		left: 500px;

		&-list{
			width: 250px;
			overflow: hidden;
			
		}
		/* &::before{
			
			  left: 0px;
			  top: 42px;
			  @mixin arrow;
			  
		  } */
		

	}

	

}



.liststylehover{
	
	& li:hover{
		background:#ccc;
		cursor: pointer;
	}
}

.text-small{
	font-size: 10px;
}

.filters{
	
	
	.bootstrap-select.show-menu-arrow .dropdown-toggle:after{
		border-left: 12px solid  transparent;
		border-right: 12px solid  transparent;
	    border-bottom: 12px solid #fff;
		bottom: -22px;
		
		outline: none;
	}

	.bootstrap-select.show-menu-arrow .dropdown-toggle:after{
		border-left: 12px solid  transparent;
		border-right: 12px solid  transparent;
	    border-bottom: 12px solid #fff;
		bottom: -22px;
		/*display: none;*/
		outline: none;
	}

	
	.bootstrap-select > .dropdown-toggle.bs-placeholder, 
	.bootstrap-select > .dropdown-toggle.bs-placeholder:hover, 
	.bootstrap-select > .dropdown-toggle.bs-placeholder:focus, 
	.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
	    color: #000;
	}


	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	  /**/
	  width: 200px;
	  /*height: 200px;*/
	  margin-bottom: 0px;
	  margin-left: 0px;
	  margin-right:24px;
	  background-color: #fff;
	  

	}
	.bootstrap-select > .dropdown-toggle {

	  padding-right: 25px;
	  z-index: 1;
	  /**/
	  background: #fff;
	  border: 0;
	  width: 200px;
	  height: 35px;
	  display: inline-block;
	}


	.bootstrap-select > select {
	  position: absolute ;
	  bottom: 0;
	  width: 0.5px ;
	  height: 100% ;
	  padding: 0 ;
	  opacity: 0 ;
	  border: none;
	  /**/
	  left: 50%;
	  display: inline-block; 
	}

	.bootstrap-select.btn-group .dropdown-toggle .caret {
	 
	  /**/
	  display: none;
	}

	.bootstrap-select > .dropdown-toggle.bs-placeholder,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
	  color: #ccc;
	}


	.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	    display: inline-block;
	    overflow: hidden;
	    width: 100%;
	    text-align: left;
	    /**/
	    font-weight: 500;
	    color: black;
	    
	}

	.dropdown-menu {
	    top: 155%;
	}
}