/*index page offers sec*/
.offers-wrapper{
	width: 920px;
	margin: 0 auto;
}

.master-wrapper{
	position: relative;
	top:-100px;	
}

.wrap{
	padding-left: 15px;
	padding-right:  15px;
}

body{
	/*background-color: #10172A;*/
	/*color: $white-text;*/
}