.multi-range {
   position: relative;
   height: 50px;

   input[type=range] {
      position: absolute;
  
   }
}

input[type=range] {
   box-sizing: border-box;
   /*appearance: none;*/
   width: 250px;
   /*margin: 0;*/
   padding: 0 2px;
   /* Add some L/R padding to ensure box shadow of handle is shown */
   /*overflow: hidden;*/
   

   border-radius: 1px;
   /*outline: none;*/
   /*background: linear-gradient(grey, grey) no-repeat center;*/
   /* Use a linear gradient to generate only the 2px height background */
   background-size: 100% 2px;
   /*pointer-events: all;*/

      &:active,
      &:focus {
         outline: none;
      }
}